@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap");
.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #14213e;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw-1200px) / 2);
  position: relative;
  z-index: 10;
}

.navbar__logo {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  margin-left: 2rem;
  cursor: pointer;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 30em) {
  .navbar__bars {
    opacity: 1;
    position: absolute;
    color: white;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
  }
}

.navbar__menu {
  margin-right: 2.4rem;
}

@media screen and (max-width: 30em) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu--links {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  margin-right: 1.6rem;
}

.navbar__menu--links:hover {
  text-decoration: underline;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #fda312;
}

.navbar__menu #button {
  padding: 0.4rem;
  border: 0.3rem solid #fda312;
  border-radius: 5px;
  background-color: #fda312;
}

.navbar__menu #button:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background-color: white;
}

.navbar__menu #button--link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #14213e;
}

.navbar__menu #button--link:hover {
  color: #fda312;
  text-decoration: underline;
}

.hero {
  background-color: #14213e;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 0;
  z-index: 1;
  width: 100%;
  max-width: 85%;
}

@media screen and (min-width: 30em) {
  .hero__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 30em) {
  .hero__container--left {
    line-height: 1.5;
  }
}

@media screen and (min-width: 30em) {
  .hero__container--left {
    padding: 5rem 0;
  }
}

.hero__container--left h1 {
  color: #fda312;
  font-size: 3.6rem;
}

.hero__container--left h2 {
  color: white;
  font-size: 2rem;
}

.hero__container--left p {
  color: white;
  font-size: 1.6rem;
}

.hero__container--btn {
  padding: 0.4rem;
  margin-top: 0.5rem;
  border: 0.3rem solid #fda312;
  border-radius: 5px;
  background-color: #fda312;
  position: relative;
  cursor: pointer;
}

.hero__container--btn:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background-color: white;
}

.hero__container--btn a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #14213e;
}

.hero__container--btn a:hover {
  color: #fda312;
  text-decoration: underline;
}

.hero__container--img {
  width: 100%;
  max-width: 95%;
  min-height: 100%;
  -webkit-animation: solarRotation 10s infinite linear;
          animation: solarRotation 10s infinite linear;
}

@-webkit-keyframes solarRotation {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}

@keyframes solarRotation {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  border: 2px solid red;
  min-height: 100vh;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */